<a href="https://colab.research.google.com/github/v2047/Data-Analysis/blob/main/Police_Dataset(DA_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [4]:
P_df = pd.read_csv('/content/3. Police Data.csv')
print(P_df)

       stop_date stop_time  ...  stop_duration drugs_related_stop
0       1/2/2005      1:55  ...       0-15 Min              False
1      1/18/2005      8:15  ...       0-15 Min              False
2      1/23/2005     23:15  ...       0-15 Min              False
3      2/20/2005     17:15  ...      16-30 Min              False
4      3/14/2005     10:00  ...       0-15 Min              False
...          ...       ...  ...            ...                ...
65530  12/6/2012     17:54  ...       0-15 Min              False
65531  12/6/2012     22:22  ...       0-15 Min              False
65532  12/6/2012     23:20  ...       0-15 Min              False
65533  12/7/2012      0:23  ...            NaN              False
65534  12/7/2012      0:30  ...       0-15 Min              False

[65535 rows x 15 columns]

In [5]:
P_df.head()

   stop_date stop_time  ...  stop_duration drugs_related_stop
0   1/2/2005      1:55  ...       0-15 Min              False
1  1/18/2005      8:15  ...       0-15 Min              False
2  1/23/2005     23:15  ...       0-15 Min              False
3  2/20/2005     17:15  ...      16-30 Min              False
4  3/14/2005     10:00  ...       0-15 Min              False

[5 rows x 15 columns]

In [6]:
P_df.tail()

       stop_date stop_time  ...  stop_duration drugs_related_stop
65530  12/6/2012     17:54  ...       0-15 Min              False
65531  12/6/2012     22:22  ...       0-15 Min              False
65532  12/6/2012     23:20  ...       0-15 Min              False
65533  12/7/2012      0:23  ...            NaN              False
65534  12/7/2012      0:30  ...       0-15 Min              False

[5 rows x 15 columns]

In [7]:
P_df.shape

(65535, 15)

In [8]:
P_df.columns

Index(['stop_date', 'stop_time', 'country_name', 'driver_gender',
       'driver_age_raw', 'driver_age', 'driver_race', 'violation_raw',
       'violation', 'search_conducted', 'search_type', 'stop_outcome',
       'is_arrested', 'stop_duration', 'drugs_related_stop'],
      dtype='object')

In [9]:
P_df.count()

stop_date             65535
stop_time             65535
country_name              0
driver_gender         61474
driver_age_raw        61481
driver_age            61228
driver_race           61475
violation_raw         61475
violation             61475
search_conducted      65535
search_type            2479
stop_outcome          61475
is_arrested           61475
stop_duration         61475
drugs_related_stop    65535
dtype: int64

In [11]:
P_df.isnull().sum()

stop_date                 0
stop_time                 0
country_name          65535
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

In [ ]:
#Remove the missing value columns
P_df.drop(columns='country_name ',inplace= True)

In [21]:
P_df

       stop_date stop_time  ... stop_duration  drugs_related_stop
0       1/2/2005      1:55  ...      0-15 Min               False
1      1/18/2005      8:15  ...      0-15 Min               False
2      1/23/2005     23:15  ...      0-15 Min               False
3      2/20/2005     17:15  ...     16-30 Min               False
4      3/14/2005     10:00  ...      0-15 Min               False
...          ...       ...  ...           ...                 ...
65530  12/6/2012     17:54  ...      0-15 Min               False
65531  12/6/2012     22:22  ...      0-15 Min               False
65532  12/6/2012     23:20  ...      0-15 Min               False
65533  12/7/2012      0:23  ...           NaN               False
65534  12/7/2012      0:30  ...      0-15 Min               False

[65535 rows x 14 columns]

In [24]:
# For speeding, were men or women stopped more often. (filtering +value count)
P_df[P_df.violation == 'Speeding' ].driver_gender.value_counts()

M    25517
F    11686
Name: driver_gender, dtype: int64

In [25]:
# Does gender affect who gets searched during a stop?
P_df.head(2)

   stop_date stop_time  ... stop_duration  drugs_related_stop
0   1/2/2005      1:55  ...      0-15 Min               False
1  1/18/2005      8:15  ...      0-15 Min               False

[2 rows x 14 columns]

In [26]:
P_df.groupby('driver_gender').search_conducted.sum()

driver_gender
F     366
M    2113
Name: search_conducted, dtype: int64

In [28]:
P_df.search_conducted.value_counts()

False    63056
True      2479
Name: search_conducted, dtype: int64

In [ ]:
# Mean of stop duration 
P_df.describe()

In [32]:
P_df['stop_duration'	].map({})

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
65530   NaN
65531   NaN
65532   NaN
65533   NaN
65534   NaN
Name: stop_duration, Length: 65535, dtype: float64

In [33]:
P_df.stop_duration.value_counts()

0-15 Min     47379
16-30 Min    11448
30+ Min       2647
2                1
Name: stop_duration, dtype: int64

In [41]:
# stop duration contain string vakue as well as so we convert string in integer
P_df['stop_duration'] = P_df['stop_duration'	].map({'0-15 Min' : 7.5 , '16-30 Min' : 24,  '30+ Min': 45})

In [42]:
P_df

       stop_date stop_time  ... stop_duration  drugs_related_stop
0       1/2/2005      1:55  ...           7.5               False
1      1/18/2005      8:15  ...           7.5               False
2      1/23/2005     23:15  ...           7.5               False
3      2/20/2005     17:15  ...          24.0               False
4      3/14/2005     10:00  ...           7.5               False
...          ...       ...  ...           ...                 ...
65530  12/6/2012     17:54  ...           7.5               False
65531  12/6/2012     22:22  ...           7.5               False
65532  12/6/2012     23:20  ...           7.5               False
65533  12/7/2012      0:23  ...           NaN               False
65534  12/7/2012      0:30  ...           7.5               False

[65535 rows x 14 columns]

In [43]:
# Now we can find the mean of stop_duration
P_df['stop_duration'].mean()

12.187420698181345

In [47]:
# Compare the age distributions for each violation
#P_df.head(2)
P_df.groupby('violation').driver_age.describe()

                       count       mean        std  ...   50%   75%   max
violation                                           ...
Equipment             6507.0  31.682957  11.380671  ...  28.0  39.0  81.0
Moving violation     11876.0  36.736443  13.258350  ...  35.0  47.0  86.0
Other                 3477.0  40.362381  12.754423  ...  41.0  50.0  86.0
Registration/plates   2240.0  32.656696  11.150780  ...  30.0  40.0  74.0
Seat belt                3.0  30.333333  10.214369  ...  26.0  34.0  42.0
Speeding             37120.0  33.262581  12.615781  ...  30.0  42.0  88.0

[6 rows x 8 columns]