<a href="https://colab.research.google.com/github/v2047/Data-Analysis/blob/main/Udemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
udemy = pd.read_csv("/content/7. Udemy Courses.csv")
print(udemy)

      course_id  ...              subject
0        288942  ...  Musical Instruments
1       1170074  ...  Musical Instruments
2       1193886  ...  Musical Instruments
3       1116700  ...  Musical Instruments
4       1120410  ...  Musical Instruments
...         ...  ...                  ...
3677     328960  ...      Web Development
3678     552700  ...  Musical Instruments
3679     631754  ...      Web Development
3680    1225194  ...     Business Finance
3681     964478  ...       Graphic Design

[3682 rows x 11 columns]

In [3]:
udemy.shape

(3682, 11)

In [4]:
udemy.head()

   course_id  ...              subject
0     288942  ...  Musical Instruments
1    1170074  ...  Musical Instruments
2    1193886  ...  Musical Instruments
3    1116700  ...  Musical Instruments
4    1120410  ...  Musical Instruments

[5 rows x 11 columns]

In [5]:
udemy.tail()

      course_id  ...              subject
3677     328960  ...      Web Development
3678     552700  ...  Musical Instruments
3679     631754  ...      Web Development
3680    1225194  ...     Business Finance
3681     964478  ...       Graphic Design

[5 rows x 11 columns]

In [6]:
udemy.isnull().sum()  # there is no missing value.

course_id              0
course_title           0
is_paid                0
price                  0
num_subscribers        0
num_reviews            0
num_lectures           0
level                  0
content_duration       0
published_timestamp    0
subject                0
dtype: int64

In [7]:
type(udemy)

pandas.core.frame.DataFrame

In [8]:
udemy.describe()

          course_id  num_subscribers   num_reviews  num_lectures
count  3.682000e+03      3682.000000   3682.000000   3682.000000
mean   6.766121e+05      3194.230310    156.093156     40.065182
std    3.436355e+05      9499.378361    934.957204     50.373299
min    8.324000e+03         0.000000      0.000000      0.000000
25%    4.078430e+05       110.250000      4.000000     15.000000
50%    6.885580e+05       911.500000     18.000000     25.000000
75%    9.617515e+05      2540.250000     67.000000     45.000000
max    1.282064e+06    268923.000000  27445.000000    779.000000

In [9]:
udemy["subject"].unique()   # different subjects in dataframe

array(['Musical Instruments', 'Business Finance', 'Graphic Design',
       'Web Development'], dtype=object)

In [10]:
udemy["level"].unique()

array(['All Levels', 'Intermediate Level', 'Beginner Level',
       'Expert Level'], dtype=object)

In [11]:
udemy["content_duration"].unique()

array(['1.5 hours', '1 hour', '37 mins', '44 mins', '5.5 hours',
       '4 hours', '31 mins', '2.5 hours', '6.5 hours', '3 hours',
       '8.5 hours', '4.5 hours', '9.5 hours', '2 hours', '3.5 hours',
       '9 hours', '5 hours', '36 mins', '16 hours', '32 mins', '14 hours',
       '35 mins', '6 hours', '41 mins', '7.5 hours', '14.5 hours',
       '24.5 hours', '33 mins', '29 hours', '13.5 hours', '42 mins',
       '33 hours', '12.5 hours', '8 hours', '7 hours', '34 mins',
       '11.5 hours', '62 hours', '12 hours', '39 mins', '19 mins',
       '15.5 hours', '10.5 hours', '21 hours', '68.5 hours', '19.5 hours',
       '20.5 hours', '22 hours', '10 hours', '38 mins', '43 mins',
       '40 mins', '24 hours', '13 hours', '31.5 hours', '44.5 hours',
       '17.5 hours', '48.5 hours', '60 hours', '11 hours', '27.5 hours',
       '18.5 hours', '25.5 hours', '22.5 hours', '16.5 hours', '30 mins',
       '57 hours', '45 hours', '20 hours', '39 hours', '34 hours',
       '25 hours', '26 hours', '29.5 hours', '15 hours', '37.5 hours',
       '71.5 hours', '47 hours', '18 hours', '38 hours', '28.5 hours',
       '8 mins', '32.5 hours', '31 hours', '17 hours', '27 mins',
       '29 mins', '46.5 hours', '43.5 hours', '66.5 hours', '26.5 hours',
       '0', '30 hours', '30.5 hours', '19 hours', '23 hours',
       '23.5 hours', '24 questions', '218 questions', '18 questions',
       '82 questions', '78.5 hours', '21.5 hours', '51 hours',
       '76.5 hours', '42 hours', '43 hours', '70 hours', '28 mins'],
      dtype=object)

In [12]:
udemy["course_title"].unique()

array(['#1 Piano Hand Coordination: Play 10th Ballad in Eb Key songs',
       '#10 Hand Coordination - Transfer Chord Ballad 9 - C & Bb Key',
       '#12 Hand Coordination: Let your Hands dance with Ballad 9', ...,
       'Zend Framework 2: Learn the PHP framework ZF2 from scratch',
       "Zoho Books Gestion Financière d'Entreprise pas à pas",
       'Zombie Apocalypse Photoshop Actions'], dtype=object)

In [13]:
# which subject has the maximum number of course.
udemy.subject.value_counts()

Web Development        1200
Business Finance       1199
Musical Instruments     680
Graphic Design          603
Name: subject, dtype: int64

In [14]:
# show all course which are free of cost.
udemy[udemy.price == "Free"]

      course_id  ...              subject
41       286070  ...  Musical Instruments
49       696630  ...  Musical Instruments
57       955914  ...  Musical Instruments
67       270976  ...      Web Development
74      1214144  ...     Business Finance
...         ...  ...                  ...
3620     552598  ...      Web Development
3638    1068590  ...      Web Development
3652     752706  ...      Web Development
3674    1257976  ...  Musical Instruments
3680    1225194  ...     Business Finance

[310 rows x 11 columns]

In [15]:
# show all course which are paid
udemy[udemy.is_paid == True]

      course_id  ...              subject
0        288942  ...  Musical Instruments
1       1170074  ...  Musical Instruments
2       1193886  ...  Musical Instruments
3       1116700  ...  Musical Instruments
4       1120410  ...  Musical Instruments
...         ...  ...                  ...
3676     498488  ...     Business Finance
3677     328960  ...      Web Development
3678     552700  ...  Musical Instruments
3679     631754  ...      Web Development
3681     964478  ...       Graphic Design

[3372 rows x 11 columns]

In [16]:
# which are top selling course?
udemy.sort_values("num_subscribers",ascending=False)

      course_id  ...              subject
2230      41295  ...      Web Development
776       59014  ...      Web Development
3385     625204  ...      Web Development
640      173548  ...      Web Development
3316     764164  ...      Web Development
...         ...  ...                  ...
2290    1223240  ...  Musical Instruments
1267    1258666  ...     Business Finance
2070    1215926  ...     Business Finance
1931    1247992  ...     Business Finance
3165    1087466  ...     Business Finance

[3682 rows x 11 columns]

In [17]:
udemy.sort_values("num_subscribers",ascending=False).sum()

course_id                                                     2491285775
course_title           Learn HTML5 Programming From ScratchCoding for...
is_paid                                                             3372
price                  FreeFree200Free200FreeFree30Free175200190FreeF...
num_subscribers                                                 11761156
num_reviews                                                       574735
num_lectures                                                      147520
level                  All LevelsBeginner LevelAll LevelsBeginner Lev...
content_duration       10.5 hours3.5 hours43 hours3 hours30.5 hours4....
published_timestamp    2013-02-14T07:03:41Z2013-06-09T15:51:55Z2015-1...
subject                Web DevelopmentWeb DevelopmentWeb DevelopmentW...
dtype: object

In [18]:
udemy.sort_values("num_subscribers",ascending=True)   # least selling course

      course_id  ...           subject
649     1233314  ...  Business Finance
3259    1232282  ...  Business Finance
3261    1275872  ...    Graphic Design
910      726314  ...    Graphic Design
3328     715476  ...  Business Finance
...         ...  ...               ...
3316     764164  ...   Web Development
640      173548  ...   Web Development
3385     625204  ...   Web Development
776       59014  ...   Web Development
2230      41295  ...   Web Development

[3682 rows x 11 columns]

In [19]:
udemy.subject.unique()

array(['Musical Instruments', 'Business Finance', 'Graphic Design',
       'Web Development'], dtype=object)

In [21]:
# show all course of graphic design below price 100
udemy[(udemy.subject == 'Graphic Design') & (udemy.price <'100')]

Empty DataFrame
Columns: [course_id, course_title, is_paid, price, num_subscribers, num_reviews, num_lectures, level, content_duration, published_timestamp, subject]
Index: []

In [34]:
# list all course are related to python
udemy[udemy.course_title.str.contains ("Python")]

      course_id  ...           subject
216      599504  ...   Web Development
777       47963  ...   Web Development
814      631128  ...   Web Development
842      186096  ...   Web Development
1400     394832  ...   Web Development
1932    1038538  ...   Web Development
1969     902888  ...  Business Finance
2294     391546  ...   Web Development
2295    1063722  ...   Web Development
2341     546848  ...    Graphic Design
2906     368340  ...   Web Development
2908    1035940  ...   Web Development
2929     270808  ...   Web Development
2952    1170894  ...  Business Finance
2953    1070886  ...  Business Finance
2954    1196544  ...  Business Finance
2955     822444  ...   Web Development
2956     477702  ...   Web Development
2957    1035472  ...  Business Finance
2958     529828  ...  Business Finance
2959      70640  ...   Web Development
2960     523312  ...   Web Development
2962    1088656  ...  Business Finance
3013     970600  ...   Web Development
3154     815482  ...  Business Finance
3272     938560  ...   Web Development
3460      76052  ...   Web Development
3573      16646  ...   Web Development
3574     574082  ...   Web Development

[29 rows x 11 columns]

In [35]:
len(udemy[udemy.course_title.str.contains ("Python")])

29

In [38]:
udemy.dtypes

course_id               int64
course_title           object
is_paid                  bool
price                  object
num_subscribers         int64
num_reviews             int64
num_lectures            int64
level                  object
content_duration       object
published_timestamp    object
subject                object
dtype: object

In [37]:
# what are course published in year 2015
pd.to_datetime(udemy.published_timestamp)   # first change published_timestamp [(object) to datetime64[ns, UTC]]

0      2014-09-18 05:07:05+00:00
1      2017-04-12 19:06:34+00:00
2      2017-04-26 18:34:57+00:00
3      2017-02-21 23:48:18+00:00
4      2017-02-21 23:44:49+00:00
                  ...
3677   2015-04-20 22:15:17+00:00
3678   2015-10-26 20:04:21+00:00
3679   2015-11-11 18:55:45+00:00
3680   2017-05-26 16:45:55+00:00
3681   2016-09-26 22:19:48+00:00
Name: published_timestamp, Length: 3682, dtype: datetime64[ns, UTC]

In [ ]:
# udemy["Year"] = udemy['published_timestamp'].dt.year  # error

In [42]:
# Max number of subscriber for each level of courses

udemy.groupby('level').max()

                    course_id  ...          subject
level                          ...
All Levels            1277924  ...  Web Development
Beginner Level        1282064  ...  Web Development
Expert Level          1275790  ...  Web Development
Intermediate Level    1276182  ...  Web Development

[4 rows x 10 columns]

In [43]:
udemy.groupby('level').num_subscribers.max()

level
All Levels            268923
Beginner Level        161029
Expert Level            5172
Intermediate Level     29167
Name: num_subscribers, dtype: int64